<div class="electricalchart">
    <p>I_Chart</p>
    <div class="dropdown">
        <button class="dropbtn">Search Data over time</button>
        <div class="dropdown-content">
            <a href="#Idashboad" data-toggle="modal">
                &nbsp;day
            </a>
            <a href="#Idashboad" data-toggle="modal">
                &nbsp;month
            </a>
            <a href="#Idashboad" data-toggle="modal">
                &nbsp;year
            </a>
        </div>
    </div>
    <div id="I"></div>
    <!-- <canvas id="I" width="450" height="450"></canvas> -->
</div>
<div class="electricalchart">
    <p>U_Chart</p>
    <div class="dropdown">
        <button class="dropbtn">Search Data over time</button>
        <div class="dropdown-content">
            <a href="#Udashboad" data-toggle="modal">
                &nbsp;day
            </a>
            <a href="#Udashboad" data-toggle="modal">
                &nbsp;month
            </a>
            <a href="#Udashboad" data-toggle="modal">
                &nbsp;year
            </a>
        </div>
    </div>
    <canvas id="U" width="450" height="450"></canvas>
</div>