<div class="electrical">
    <div class="display">
        <p>V_ab</p>
        <div id="gaugevab" class="gauge-container ele"></div>
        <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">V</div>
    </div> 
    <div class="display">
        <p>I_a</p>
        <div id="gaugeia" class="gauge-container ele"></div>
        <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">A</div>

    </div> 
    <div class="display">
        <p>I_b</p>
        <div id="gaugeib" class="gauge-container ele"></div>
        <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">A</div>

    </div> 
    <div class="display">
        <p>I_c</p>
        <div id="gaugeic" class="gauge-container ele"></div>
        <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">A</div>

    </div> 
</div>
