
<div class="col-md-2 col-sm-3 offset-md-2">
    <p class="d-flex justify-content-center">V_ab</p>
    <div id="gaugevab" class="gauge-container ele"></div>
    <div class="value-text" style="text-align: center; margin-top: -50px;">V</div>
</div>
<div class="col-md-2 col-sm-3">
    <p class="d-flex justify-content-center">I_a</p>
    <div id="gaugeia" class="gauge-container ele"></div>
    <div class="value-text" style="text-align: center; margin-top: -50px;">A</div>

</div>
<div class="col-md-2 col-sm-3">
    <p class="d-flex justify-content-center">I_b</p>
    <div id="gaugeib" class="gauge-container ele"></div>
    <div class="value-text" style="text-align: center; margin-top: -50px;">A</div>

</div>
<div class="col-md-2 col-sm-3">
    <p class="d-flex justify-content-center">I_c</p>
    <div id="gaugeic" class="gauge-container ele"></div>
    <div class="value-text" style="text-align: center; margin-top: -50px;">A</div>
</div>