<div class="environmentgauge">
    <div class="display">
        <p>T_water</p>
        <div id="gaugetw" class="gauge-container env"></div>
        <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">&#8451</div>
    </div>
    <div class="display">
        <p>T_oil</p>
        <div id="gaugeto" class="gauge-container env"></div>
        <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">&#8451</div>
    </div>
</div>

<!--temperature chart-->
<div class="temperaturechart">
    <p>Temperature_Chart</p>
    <div class="dropdown">
        <button class="dropbtn">Search Data over time</button>
        <div class="dropdown-content">
            <a href="#user-profile-modal" data-toggle="modal">
                &nbsp;日
            </a>
            <a href="#user-profile-modal" data-toggle="modal">
                &nbsp;月
            </a>
            <a href="#user-profile-modal" data-toggle="modal">
                &nbsp;年
            </a>
        </div>
    </div>
    <div id="temperaturechart"></div>
</div>