body{ 
    background-color: #151a30;
}
#user-profile-modal input:hover, #user-profile-modal input:focus {
    border-color: #576574
}
.col1 .information{
    color: white;
    background-color: #222b45;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    width: 100%;
    margin: 0px 10px 10px 10px;
}
.col1 .information a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.col1 .dropdown-toggle{
    background-color: #222b45;
    margin-left: 10px;
    width: 100%;
}

.rownavbar {
    text-align: center;
    background-color: rgb(5, 6, 20);
    margin-bottom: 20px;
    color: white;
}
.row2 .inforuser {
    background-color: #222b45;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    
}
.row2 .inforuser p {
    color: white;
    font-size: 20px;
    margin: 10px;
}