.display{
  width: 150px;
  height: 150px;
  float: left;
}
.gauge-container.env > .gauge > .dial {
  stroke: #334455;
  stroke-width: 10;
}
.gauge-container.env > .gauge > .value {
  /*stroke: orange;*/
  stroke-dasharray: none;
  stroke-width: 13;
}

.gauge-container.ele > .gauge > .dial {
  stroke: #334455;
  stroke-width: 10;
}
.gauge-container.gauge-container.ele > .gauge > .value {
  /*stroke: orange;*/
  stroke-dasharray: none;
  stroke-width: 13;
}