<div class="col-5 col2">
    <!--Electrical and operator-->
    <div class="row row1">
        <div style="width: 100%;"><h4 style="color: white; text-align: center;">Electrical</h4></div>
        <!--electrical gauge-->
        <%- include("elecgauge/elecgauge"); %>
        <!--U chart and I chart-->
        <%- include("UchartAndIchart/UchartAndIchart"); %>
    </div>
    
    <div class="row row2">
        <!--speed and frequency-->
        <%- include("speedandfrequency/speedandfrequency"); %>
    </div>
    
</div>