<div class="modal fade" id="Udashboad" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height: 600px;background-color: #222b45;"  >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <button id="history" type="button" onclick="Uchart()">history</button>
                <div class="electricalchart">
                    <h3 style="text-align: center;">U_Chart</h3>
                    <div id="Ichartdb" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>