<div class="col col1">
    <div class="speedchart">
        
        <p>Speed_Chart</p>
        <div class="dropdown">
            <button class="dropbtn">Search Data over time</button>
            <div class="dropdown-content">
                <a href="#user-profile-modal" data-toggle="modal">
                    &nbsp;日
                </a>
                <a href="#user-profile-modal" data-toggle="modal">
                    &nbsp;月
                </a>
                <a href="#user-profile-modal" data-toggle="modal">
                    &nbsp;年
                </a>
            </div>
        </div>
        <div id="speedchart"></div>
    </div>
</div>
<div class="col col2">
    <div class="frequencychart">
        <p>Frequency_Chart</p>
        
        <div class="dropdown">
            <button class="dropbtn">Search Data over time</button>
            <div class="dropdown-content">
                <a href="#user-profile-modal" data-toggle="modal">
                    &nbsp;日
                </a>
                <a href="#user-profile-modal" data-toggle="modal">
                    &nbsp;月
                </a>
                <a href="#user-profile-modal" data-toggle="modal">
                    &nbsp;年
                </a>
            </div>
        </div>
        <div id="frequencychart"></div>
    </div>
</div>