<div class="speedchart col-md-6">
    <p class="d-flex justify-content-center">Speed_Chart</p>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Search Data over time </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#Idashboad">Day</a>
            <a class="dropdown-item" href="#Idashboad">Month</a>
            <a class="dropdown-item" href="#Idashboad">Year</a>
        </div>
    </div>
    <div id="speedchart" style="width: auto; height: 300px;"></div>
</div>
<div class="frequencychart col-md-6">
    <p class="d-flex justify-content-center">Frequency_Chart</p>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Search Data over time </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#Udashboad">Day</a>
            <a class="dropdown-item" href="#Udashboad">Month</a>
            <a class="dropdown-item" href="#Udashboad">Year</a>
        </div>
    </div>
    <div id="frequencychart" style="width: auto; height: 300px;"></div>
</div>
</div>