<div class="row rownavbar">
    <div class="container d-flex justify-content-between">              
        <strong style="text-align: center; width: 100%;">
            <h2>Biogas generator data</h2>
        </strong>
    </div>
</div>
