
.col2 .row1 {
  background: linear-gradient(to bottom right, #222b45 0%, #000066 100%);
  border-radius: 10px;
}

.col2 .GaugeMeter{
  margin-left: 20px;
}
.col2 .row1 p {
  color: white;
  margin: 0px;
}
.col2 .electricalchart{
  width: 100%;
  height: 320px;
}
p {
  color: white;
  margin: 0px;
}
.col2 .row2 .col1 .speedchart {
  width: 100%;
  height: 350px;
}
.col2 .row2 .col2 .frequencychart {
  width: 100%;
  height: 350px;
}
.col2 .row2{
  background: linear-gradient(to bottom right, #222b45 0%, #000066 100%);
  border-radius: 10px;
  margin-top: 10px;
}
.col2 p {
  text-align: center;
  color: white;
}
