.GaugeMeter, .GaugeMeter1, .GaugeMeter2 {
  position: Relative;
  text-align: Center;
  overflow: Hidden;
  cursor: Default;
  display: inline-block;
}

.GaugeMeter SPAN, .GaugeMeter1 SPAN, .GaugeMeter2 SPAN, .GaugeMeter B,.GaugeMeter1 B,.GaugeMeter2 B {
  width: 54%;
  position: Absolute;
  text-align: Center;
  display: Inline-Block;
  color: #ffffff;
  font-weight: 100;
  font-family: "Open Sans", Arial;
  overflow: Hidden;
  white-space: NoWrap;
  text-overflow: Ellipsis;
  margin: 0 23%;
}