body{ 
    background-color: #151a30;
    margin-top:20px;
}
.information{
    color: white;
    background-color: #222b45;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    height: 180px;
}
.information a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.searchmachine{
    background-color: #222b45;
    margin-top: 20px;
   text-align: center;
   border-radius: 10px;
   height: 450px;
}
.searchmachine .txtsearch{
    margin: 10px;
    text-align: center;
    background: none;
    border: 2px solid blue;
    width: 50%;
    height: 40px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 1s;
}
.searchmachine .txtsearch:focus{
    width: 80%;
    border: 2px solid green;
}
.searchmachine .but{
    margin: 10px;
    background: none;
    border: 2px solid green;
    border-radius: 20px;
    color: white;
    outline: none;
}
.bubblechart #bubble{
    width: 100%;
    height: 650px;
    background-color:#151a30 ;
    border-radius: 10px;
}

.totalmachine1,.totalmachine2{
    color: white;
    height: 650px;
    text-align: center;
    font-weight: 1000;
    margin: 0 -8px 0px -8px;
}

.totalmachine1 .tren{
    color: white;
    background-color: #222b45;
    border-radius: 10px;
    text-align: center;
    font-weight: 1000;
    height: 180px;
}
.totalmachine1 .tren h1{ 
    color: white;
    font-size: 100px;
} 
.totalmachine1 .duoi{
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    height: 100px;
}

.totalmachine1 .duoi .trai {
    background-color: #222b45;
    text-align: center;
    border-radius: 10px;
    width: 48%;
    height: 100;
    float: left;
}
.totalmachine1 .duoi .phai{
    background-color: #222b45;
    text-align: center;
    border-radius: 10px;
    width: 48%;
    height: 100;
    float: right;
}

.totalmachine1 .duoix2 {
    background-color: #222b45;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    height: 330px;
}
.rushhour{
    
}