<div class="col-5 col3">
    <div class="row row1">
        <!--environment-->
        <div style="width: 100%;"><h4 style="color: white; text-align: center;">Environment</h4></div>
        <%- include("environment/environment"); %>
    </div>
    <div class="row row2">
        <!--concentration-->
        <%- include("concentration/concentration"); %>
    </div>
    
    <div class="row row3">
        <!--time run and power-->
        <%- include("timerunandpower/timerunandpower"); %>
    </div>
</div>