 <!--gauconcentration-->
 <div class="gauconsentration">
    <h4 style="color: white; text-align: center;">Consentration</h4>
    <div class="display">
        <p>C_O2</p>
        <div id="gaugeo2" class="gauge-container env"></div>
        <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">lambda</div>
    </div> 
    <div class="display">
        <p>C_H2S</p>
        <div id="gaugeh2s" class="gauge-container env"></div>
        <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">ppm</div>
    </div> 
    <div class="display">
        <p>C_CH4</p>
        <div id="gaugech4" class="gauge-container env"></div>
        <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">ppm</div>
    </div> 
</div>
<!--concentrationchart-->
<div class="consentrationchart">
    <p>Concentration_Chart</p>
    <div class="dropdown">
        <button class="dropbtn">Search Data over time</button>
        <div class="dropdown-content">
            <a href="#user-profile-modal" data-toggle="modal">
                &nbsp;日
            </a>
            <a href="#user-profile-modal" data-toggle="modal">
                &nbsp;月
            </a>
            <a href="#user-profile-modal" data-toggle="modal">
                &nbsp;年
            </a>
        </div>
    </div>
    <div id="consentrationchart"></div>
</div>