<head>
    <meta charset="utf-8">
    <title>client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>

    <script src="js/bubblechart.js"></script>
    <script src="js/rushhour.js"></script>

    <link href="css/adminCol1.css" rel="stylesheet">
    <link href="css/adminCol2.css" rel="stylesheet">
</head>
<body>
    <!--body-->
    <div class="container-fluid">
        <!--row-->
        <div class="row">
            <!--infor and search date time -->
            <div class="col-2 col1">
                <!--information-->
                <div class="row row1">
                    <div class="information">
                        <div class="user">
                            <a href="#">USER</a>
                        </div>
                        <div class="alert">
                            <a href="#">
                                Thongbao <span class="badge badge-light">4</span>
                            </a>
                        </div>
                        <div class="logout">
                            <a href=/logout>
                                <i class="fa fa-sign-out"></i>
                                &nbsp;logout
                            </a>
                        </div>
                    </div>
                </div>
                <!--searchmachine-->
                <div class="row row2">
                    <div class="dropdownShow">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Machine
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Machine 1</a>
                            <a class="dropdown-item" href="#">Machine 2</a>
                            <a class="dropdown-item" href="#">Machine 3</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <!---->
            <div class="col-3 col2">
                <div class="row row1">
                    <div class="totalgenerator">
                        <p style="color: white;">TOTAL GENERATOR</p>
                        <h1 style="color: white;">50</h1>
                    </div>
                </div>
                <div class="row row2">
                    <div class="col">
                        <p style="color: green;">ONLINE</p>
                        <h2 style="color: green;">23</h2>
                    </div>
                    <div class="col">
                        <p style="color: red;">OFFLINE</p>
                        <h2 style="color: red;">27</h2>
                    </div>
                </div>
                <div class="row row3">
                    <div class="totaltimeactive">
                        <p style="color: #0000ff;">TOTAL MACHINE ACTIVE</p>
                        <h1 style="color: #0000ff;">23 hours</h1>
                    </div>
                    <div class="timepermachine">
                        <p style="color: #cc00cc;">MEDIUM TIME PER A MACHINE</p>
                        <h1 style="color: #cc00cc;">12 hours</h1>
                    </div>
                </div>
            </div>
            <!--bubble map chart-->
            <div class="col-3 col3">
                <div class="mapchart">
                    <div id="bubble"></div>
                    
                </div>
            </div>
            <!--time run chart-->
            <div class="col-4 col4">
                <div class="rushhour">
                    <div id="rushhour"></div>
                </div>
            </div>
        </div>    
    </div>
</body>