<head>
    <meta charset="utf-8">
    <title>client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/core.js"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/charts.js"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/plugins/timeline.js"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/plugins/bullets.js"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/maps.js"></script>
    <script src="refer/amcharts_geodata_4.1.12/geodata/vietnamLow.js"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/themes/dark.js"></script>
    <script src="refer/amcharts_4.9.6/amcharts4/themes/animated.js"></script>
    <script src="refer/Customizable-Animated-jQuery-HTML5-Gauge-Meter-Plugin/Customizable-Animated-jQuery-HTML5-Gauge-Meter-Plugin/GaugeMeter.js"></script> 
    <script type="text/javascript" src="refer/svg-gauge-master/src/gauge.js"></script>
    <script src="socket.io/socket.io.js"></script>


    <script src="js/mainConfig.js"></script>
    
    
    <script src="js/temperature.js"></script>
    <script src="js/pressure.js"></script>
    <script src="js/i.js"></script>
    <script src="js/u.js"></script>
    <script src="js/speed.js"></script>
    <script src="js/frequency.js"></script>
    <script src="js/consentrationChart.js"></script>
    <script src="js/timerun.js"></script>
    <script src="js/power.js"></script>

    <link href="css/client-col1.css" rel="stylesheet">
    <link href="css/client-col2.css" rel="stylesheet">
    <link href="css/client-col3.css" rel="stylesheet">
    <link href="css/gauge.css" rel="stylesheet">
</head>
<body>
    <!--body-->
    <div class="container-fluid">
        <!--row-->
        <div class="row rownavbar">

            <div class="container d-flex justify-content-between">              
                <strong>
                    <h2>Monitor System</h2>
                </strong>
            </div>
    
        </div>
        <div class="row">
            <!--infor and search date time -->
            <div class="col-2 col1">
                <!--information-->
                <div class="row row1">
                    <div class="information">
                        <div class="user">
                            <a href="#">USER</a>
                        </div>
                        <div class="alert">
                            <a href="#">
                                Thongbao <span class="badge badge-light">4</span>
                            </a>
                        </div>
                        <div class="logout">
                            <a href=/logout>
                                <i class="fa fa-sign-out"></i>
                                &nbsp;logout
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-5 col2">
                <!--Electrical and operator-->
                <div class="row row1">
                    <div style="width: 100%;"><h4 style="color: white; text-align: center;">Electrical</h4></div>
                    <div class="electrical">
                        <div class="display">
                            <p>V_ab</p>
                            <div id="gaugevab" class="gauge-container ele"></div>
                            <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">V</div>
                        </div> 
                        <div class="display">
                            <p>I_a</p>
                            <div id="gaugeia" class="gauge-container ele"></div>
                            <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">A</div>

                        </div> 
                        <div class="display">
                            <p>I_b</p>
                            <div id="gaugeib" class="gauge-container ele"></div>
                            <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">A</div>

                        </div> 
                        <div class="display">
                            <p>I_c</p>
                            <div id="gaugeic" class="gauge-container ele"></div>
                            <div class="value-text" style="color: white; text-align: center; margin-top: -50px;">A</div>

                        </div> 
                    </div>
                    <div class="electricalchart">
                        <p>I_Chart</p>
                        <div id="I"></div>
                    </div>
                    <div class="electricalchart">
                        <p>U_Chart</p>
                        <div id="U"></div>
                    </div>
                </div>
                <!--speed and frequency-->
                <div class="row row2">
                    <div class="col col1">
                        <div class="speedchart">
                            <p>Speed_Chart</p>
                            <div id="speedchart"></div>
                        </div>
                    </div>
                    <div class="col col2">
                        <div class="frequencychart">
                            <p>Frequency_Chart</p>
                            <div id="frequencychart"></div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-5 col3">
                <div class="row row1">
                    <div style="width: 100%"><h4 style="color: white; text-align: center;">Environment</h4></div>
                    <div class="display">
                        <p>T_water</p>
                        <div id="gaugetw" class="gauge-container env"></div>
                    </div>
                    <div class="display">
                        <p>T_oil</p>
                        <div id="gaugeto" class="gauge-container env"></div>
                    </div>
                    <!--temperature chart-->
                    <div class="temperaturechart">
                        <p>Temperature_Chart</p>
                        <div id="temperaturechart"></div>
                    </div>
                    
                </div>
                <div class="row row2">
                    <!--gauconsentration-->
                    <div class="gauconsentration">
                        <h4 style="color: white; text-align: center;">Consentration</h4>
                    </div>
                    <div class="display">
                        <p>C_O2</p>
                        <div id="gaugeo2" class="gauge-container env"></div>
                    </div> 
                    <div class="display">
                        <p>C_H2S</p>
                        <div id="gaugeh2s" class="gauge-container env"></div>
                    </div> 
                    <div class="display">
                        <p>C_CH4</p>
                        <div id="gaugech4" class="gauge-container env"></div>
                    </div> 
                    <!--consentrationchart-->
                    <div class="consentrationchart">
                        <p>Concentration_Chart</p>
                        <div id="consentrationchart"></div>
                    </div>
                </div>
                
                <div class="row row3">
                    <!--time run and power-->
                    <div class="col col1">
                        <div class="pressurechart">
                            <p>Pressure_Chart</p>
                            <div id="pressurechart"></div>
                        </div>
                    </div>
                    <div class="col col2">
                        <div class="powerchart">
                            <p>Power_Chart</p>
                            <div id="powerchart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <script src="js/gauge.js"></script>
</body>