<div class="col col1">
    <div class="pressurechart">
        <p>Pressure_Chart</p>
        <div class="dropdown">
            <button class="dropbtn">Search Data over time</button>
            <div class="dropdown-content">
                <a href="#user-profile-modal" data-toggle="modal">
                    &nbsp;day
                </a>
                <a href="#user-profile-modal" data-toggle="modal">
                    &nbsp;month
                </a>
                <a href="#user-profile-modal" data-toggle="modal">
                    &nbsp;year
                </a>
            </div>
        </div>
        <div id="pressurechart"></div>
    </div>
</div>
<div class="col col2">
    <div class="powerchart">
        <p>Power_Chart</p>
        <div class="dropdown">
            <button class="dropbtn">Search Data over time</button>
            <div class="dropdown-content">
                <a href="#user-profile-modal" data-toggle="modal">
                    &nbsp;day
                </a>
                <a href="#user-profile-modal" data-toggle="modal">
                    &nbsp;month
                </a>
                <a href="#user-profile-modal" data-toggle="modal">
                    &nbsp;year
                </a>
            </div>
        </div>
        <div id="powerchart"></div>
    </div>
</div>